<!DOCTYPE html>

<html lang="ja">
  <html>

    <head>
      <title>監視カメラ（機能追加版）</title>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link rel="stylesheet" href="./static/style.css" />
    </head>

    <body>
      <h1>監視カメラ</h1>
      <h2>ー機能追加版ー</h2>

      <img id="camera-box" src="">

      <hr />

      <img id="photo-box" src="">

      <hr />

      <b>● AWSによる分析結果</b>
      <div id="labels-box"></div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
      <script src="./static/main.js"></script>
    </body>

  </html>