<!DOCTYPE html>

<html lang="ja">
  <html>

    <head>
      <title>監視カメラ</title>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link rel="stylesheet" href="./static/style.css" />
    </head>

    <body>
      <h1>監視カメラ</h1>

      <img id="camera-box" src="">

      <hr />

      <img id="photo-box" src="">

      <hr />
      <span>動体検出した時刻: </span>
      <span id="date"></span>

      <hr />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
      <script src="./static/main.js"></script>
    </body>

  </html>